
@keyframes imagemFlutoante {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px)
    }
}

@keyframes html {
    0% {
        width: 0;
    }
    100% {
        width: var(--html);
    }
}
@keyframes css {
    0% {
        width: 0;
    }
    100% {
        width: var(--css);
    }
}
@keyframes javascript {
    0% {
        width: 0;
    }
    100% {
        width: var(--javascript);
    }
}
@keyframes php {
    0% {
        width: 0;
    }
    100% {
        width: var(--php);
    }
}
@keyframes sql {
    0% {
        width: 0;
    }
    100% {
        width: var(--sql);
    }
}

@keyframes crescer {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes letras {
    0% {
        letter-spacing: 5px;
    }
    100% {
        letter-spacing: 1px;
    }
}
